<h1>Welcome to Scrabble Score!!</h1>

<img class="image" src="http://www.grammarly.com/blog/wp-content/uploads/2014/03/scrabble-letters.jpg" alt="Let's Play">

 <a class="button" href="/score">Score a single word</a>
 <a class="button" href="/score_multiple">Score multiple words</a>
