<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble Home</title>
  </head>
  <body>
    <p>
      <a href="score">Score a single word here</a>
    </p>
    <p>
      <a href="scoremultiple">Score multiple words here</a>
    </p>
  </body>
</html>
