<table border="1px">
  <tr>
    <td>
      <a href="score"><center><h2>SCORE ONE WORD</h2></center></a>
    </td>
  </tr>
  <tr>
  </tr>
    <td>
      <a href="score_multi"><center><h2>SCORE MULTIPLE WORDS</h2></center></a>
    </td>
  </tr>
</table>
