<h1>Welcome to my scrabbly scrabble world!</h1>
<h3>As Sinatra would say..."Scrabble Scrabble doooooo...."</h3>
<h4>Please select if you would like to score one Scrabble word or multiple scrabble words.</h4>
<a href="one">One Word</a>
<a href="multiple">Multiple Words</a>
