<h3><a href="/score">clicky here</a> to find out how many points that scrabble word will get you!</h3>
<h3><a href="/score_words">or here</a> if you want to check the points of one to four words.</h3>
