<link href="css/index.css" rel="stylesheet">
<h1>Welcome to Scrabble!</h1>
  <nav>
    <ul>
      <li><a href="score">Score a Word</a></li>
      <li><a href="score_multiple">Score some Words</a></li>
    </ul>
  </nav>
