<!doctype html>
<html lang="en">
  <head>
    <title>Scrabble</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Sinatra Scrabble Home Page</h1>
    <a href="/score">Score A Word</a>
    <br>
    <a href="/score_multiple">Score Multiple Words</a>
  </body>
</html>
