<!doctype html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <title>Scrabble</title>
    <meta charset="UTF-8">
    <link href="site.css" rel="stylesheet">
  </head>
  <body>
    <h1>Sinatra Scrabble Home Page</h1>
    <a href="/score">Score A Word</a>
    <br>
    <a href="/score_multiple">Score Multiple Words</a>
  </body>
</html>
