<p class="shadow text-center">
  Welcome, scrabble fan.
</p>
<p class="shadow text-center">
  Do you want to figure out how many points your word will score?
</p>
<p class="shadow text-center">
  You've come to the right place.
</p>
