<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrabble Page</title>
  </head>
  <body>
    <h1><%= @h1 %></h1>
    <%= yield %>
    <nav>
          <a href="/index">Homepage</a>
          <a href="/score">Calculate a single score</a>
          <a href="/multiple_scores">Calculate multiple scores</a>
      </nav>
  </body>
</html>
