<h1>Scrabble Score Page</h1>

<p>For the word "<%= @word %>", your score is [WORKING ON THIS]</p>

<p>Using the form below, please enter a word you would like to score.</p>

<form action="./score" method="post">
    <label for="word">
      <span class="word">Word: </span>
    </label>
    <input type="text" name="word" id="word">
    <br><br>
    <button type="submit" value="Submit">Submit</button>
</form>
