<h2><%= @page_name %></h2>
<div id="score">
  <form id="score-form" action="#" method="post">
    <fieldset>
      <legend>Word</legend>
        <p>
          <!-- <label for="word">Word:</label> -->
          <input type="word" name="word" id="word">
        </p>
    </fieldset>
  </form>
</div>
