<h2><%= @page_name %></h2>
<div id="words_input">
  <form id="words-form" action="#" method="post">
    <fieldset>
      <!-- <label for="Words">Words:</label> -->
      <textarea rows="10" cols="50" name="words" id="words" placeholder="Separate words with spaces"></textarea>
      <p>
        <input type="submit" name="submit" id="submit" value="Submit words">
      </p>
      <p>
      <%if @words_with_scores != nil %>
        <% @words_with_scores.each do |word, score| %>
          <p><%= word %>   =   <%= score %></p>
        <% end %>
      <% end %>
      </p>
    </fieldset>
  </form>
</div>
