<h1>Score One Word</h1>
<form>
  <div class="form-group">
    <label for="word">Scrabble Word</label>
    <input type="text" class="form-control" id="word" placeholder="Enter a word">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
