<h2><%= @page_name %></h2>
<div id="words_input">
  <form id="words-form" action="#" method="post">
    <fieldset>
      <legend>Words</legend>
          <!-- <label for="word">Word:</label> -->
          <input type="words" name="words" id="words">
          The score for those words are
          <%= word%> <%= score %>.
    </fieldset>
  </form>
</div>
