<!-- need form to allow user to input multiple words -->
<h1>Let's score your scrabble words!</h1>

<div id="scorebox">
  <form id="score-form" action="#">
    <fieldset>
      <legend>Scrabble Scoring</legend>

      <p>
        <label for="word">Word:</label>
        <input type="text" name="word" id="word">
      </p>
    </fieldset>
  </form>
</div>

<a href="/">back to home</a>
