<h1> Score Your Word! </h1>
<form action="#" method="post">
  <label for="word">Word:</label>
  <input type="text" id="word" name="word">
  <br>
  <input type="submit" id="submit" name="submit" value="Enter Word">
</form>
<%= @score %>
<br>
<a href ="./index.html">HOME</a>
