<h1>Word Scores</h1>

<table class="table table-hover">
  <caption>How many points your word(s) score in Scrabble:</caption>
  <thead>
    <tr>
      <td>Word</td>
      <td>Score Breakdown</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @word %></td>
      <td></td>
      <td><%= @score %></td>
    </tr>
    <!-- <tr>
      <td>test</td>
      <td></td>
      <td></td>
    </tr> -->
  </tbody>
</table>
