<h1>Multiple Word Score:</h1>
<p>
  <% total = 0 %>
  <% @words.each do |word| %>
    <%= word %>: <%= Scrabble::Scrabble.score(word) %>
    <% total += Scrabble::Scrabble.score(word) %>
    <br>
  <% end %>
  <h5>Total: <%=total%></h5>
</p>
