<h1>So you want to score your words?</h1>
<form id="score_word" action="#" method="post">
  <label for="scrabble_word">Scrabble Word</label>
  <p>Input one or more words here, separated by commas, and you'll get the scores for each.</p>
  <input type="text" name="word" id="scrabble_word" placeholder:"Ex. cat, dog, spider, rainbow">
</form>