<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1> SCORE </h1>

    <fieldset>
      <legend>Score a word!</legend>
      <p>
        <!-- the "for" in label and the "id" in input have to match -->
        <label for="word">Word:</label>
        <input type="text" name="word" id="word">
      </p>
    </fieldset>
  </body>
</html>
