<h1>Score Page</h1>

<form id="word-form" action="#" method="post">
  <fieldset>
    <legend>Please enter word or words here (separated by a space)</legend>
    <p>
      <label for="word"> Word(s):</label>
      <input type="text" name="word" id="word" placeholder="Ex)Cool as a cucumber">
    </p>
    <p>
      <fieldset>
        <legend>Choose your own adventure</legend>
        <label for="7-letter-highest">7 letter word is the highest score</label>
        <input type="radio" name="rules" id="7_letter" value="7-letter">
        <br>
        <label for="shortest-word">Shortest word is highest score</label>
        <input type="radio" name="rules" id="shortest" value="shortest-word"
      </fieldset>
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Score Words"
    </p>
  </fieldset>
</form>
