<h1>Score Many Words</h1>
<form method="post" action="#">
  <div class="form-group">
    <label for="word">Enter Scrabble Words (separated by a space)</label>
    <input type="text" class="form-control" name="word" id="word" placeholder="Enter words separated by a space">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
