<h1>Score One Word!</h1>
<form id="one_word">
  <p>
    <label for="word">Enter a Scrabble word:</label>
    <input type="text" name="word" id="word">
    <input type="submit" name="submit" id="submit" value="Submit">

  </p>
</form>
