<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Score</title>
</head>
<body>
  <%= erb :scoring_partial %>

  <form action="#" method="post">
    <p>
      <label for="words">WORDS:</label>
      <textarea rows="1" cols="50" name="words" id="words" required></textarea>
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Score Words">
    </p>
  </form>
</body>
</html>
