<!-- <h1>Whoa, hold your horses! Site coming soon!</h1> -->
<h1>Scrabble Scoring</h1>
<form id="scrabble_score" action="#" method="post">
  <fieldset>
  <legend>Scrabble Word</legend>
  <p>
    <label for="words">Please enter words you would like scored, separated only by spaces:</label>
    <input type="text" name="words" id="words">
  </p>
  <p>
    <input type="submit" name="submit" id="submit" value="Score Words">
  </p>
  <p>
    <% if @words_scored %>
     <% @word_array.each do |word| %>
     <p>
       The score for <strong><%= word %></strong> is: <%= @word_scores_hash[word] %>
     </p>
     <% end %>
    <% end %>
  </fieldset>
</form>
