<h2><%= @page_name %></h2>
<div id="word_input">
  <form id="word-form" action="#" method="post">
    <fieldset>
      <legend>Word</legend>
          <!-- <label for="word">Word:</label> -->
          <input name="word" id="word">
          <p>The score for that word is <%= @score %></p>
    </fieldset>
  </form>
</div>
