<h1> Score Your Words! </h1>
<form action="#" method="post">
  <label for="multiple_words">Type in your words separated by a comma and space: </label>
  <br>
  <textarea rows="10" cols="50" name="multiple_words1" id="computer_other"></textarea>
  <br>
  <input type="submit" id="submit" name="submit" value="Enter Word">
</form>
<br>
<a href ="./index.html">HOME</a>
