<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrabble Score</title>
  </head>
  <body>
    <h1>Virtual Scrabble</h1>
    <h4>Please enter a word below to find out its Scrabble score!</h4>
    <%if @score.nil? %>
      <% else %>
      <p> <%= @word %> is worth <%= @score %> points!</p>
    <% end %>
    <form action="#" method="post">
    <p>
      <label for="user_input">Enter a word you would like to play:</label>
      <input type="text" name="user_input" id="user_input">
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Submit word">
    </p>
  </body>
</html>
