<h1>Score Lots of Words!</h1>
<form id="one_word" action="" method="post">
  <p>
    <label for="words">Enter some Scrabble words separated by a comma and a space:</label>
    <input type="text" name="words" id="words">
    </br>
    <input type="submit" name="submit" id="submit" value="Submit">


  </p>
</form>
