<h1>Score Page</h1>

<form id="word-form" action="#" method="post">
  <label for="word">Enter word or words here:</label>
  <input type="text" name="word" id="word">
</form>


<% @word_hash %>
  <!-- <% @word_hash.each do |key, value| %>
    <p>
    The score of <%= key %> is <%= value %>
    </p>
    <% end %> -->
