<fieldset>
  <legend>Score Page</legend>
    <p>
      <form id="word-form" action="#" method="post">
            <label for="word">Word:</label>
            <input type="text" name="word" id="word">
      </form>
    </p>
</fieldset>
