<h1>Score Page</h1>

<p>Using the form below, enter a word you would like to score in Scrabble</p>

<form action="./score" method="post">
    <label for="word">
      <span class="word">Word: </span>
    </label>
    <input type="text" name="word" id="word">
    <br><br>
    <button type="submit" value="Submit">Submit</button>
</form>
