<h1> Score </h1>

<br>
<form action="#" method="post">
  <h2>Word(s) to Score</h2>
  </p>
  <label for="word_to_score">Please enter words separated by commas.</label>
  <br>
  <textarea rows="4" cols="50" id="words" name="word_to_score"></textarea>
  <p>
    <input type="submit" name="submit_words" id="submit_words" value="Score Words">
  </p>
</form>

<% if @scored_word %>
  <% if @not_legit_word %>
    <p>
      Sorry, you have not entered a word. Please try again.
    </p>
  <% else %>
    <p>
      <% if @grammar_correct %>
        Here are the scores for the words you entered:
      <% else %>
        Here is the score for the word you entered:
      <% end %>

      <ul>
        <% @score_hash.each do |word, score| %>
        <li>
          <%= word %> scored <%= score %> points.
          <a href="/word/<%= word %>">Breakdown</a>
        </li>
        <% end %>
      </ul>

    </p>



  <% end %>
<% end %>
