<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Score</title>
</head>
<body>
  <% if !@word.nil? %>
    <h1><%= @word %> | <%= @score %></h1>
  <% end %>
  <form action="#" method="post">
    <p>
      <label for="word">WORD:</label>
      <input type="word" id="word" name="word" required>
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Score Word">
    </p>
  </form>
</body>
</html>
