<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Score</title>
</head>
  <body>
    <form action="#" method="get">
      <fieldset>
        <legend>Score A Word!!</legend>
        <p>
          <label for="words">WORD:</label>
          <input type="text" id="words" name="words" required>
        </p>
        <p>
          <input type="submit" name="submit" id="submit" value="Score">
        </p>

        <%= erb :scoring_partial %>
      </fieldset>
    </form>
  </body>
</html>
