<h2><%= @page_name %></h2>
<div id="word_input">
  <form id="word-form" action="#" method="post">
    <fieldset>
      <legend>Word</legend>
          <!-- <label for="word">Word:</label> -->
          <input name="word" id="word">
          <% if @score != nil %>
          <p> <%= @word %> = <%= @score %></p>
          <% end %>
    </fieldset>
  </form>
</div>
