<h1>Scrabble Score Calculator</h1>

<% if @scored == "true" %>
  <p>
    The score of <%= @word_being_scored.downcase %> is <%= @points %>
  </p>
<% end %>

<form id="score" action="#" method="post">

    <label for="word">Word to score:</label>
    <input type="text" id="word" name="word">

  <input type="submit" name="submit" value="Calculate">
</form>
