<!-- Score page:
Includes a form that contains one text input -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrabble Score</title>
  </head>
  <body>
    <h1>Virtual Scrabble</h1>
    <h4>Please enter a word below to find out its Scrabble score!</h4>
    <p>If you would like to enter multiple words, enter each word, separated by a comma, i.e: cat, mouse.</p>
    <%if @multiple_word_score.nil? %>
      <% else %>
      <% @multiple_word_score.each do |word, score|%>
      <p>The value of <strong><%= word %></strong> is <%= score %>.</p>
      <% end %>
      <p><strong>Your total score is <%= @total %>.</strong></p>
    <% end %>
    <form action="#" method="post">
    <p>
      <label for="user_input">Enter a word you would like to play:</label>
      <input type="text" name="user_input" id="user_input">
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Submit word">
    </p>
  </body>
</html>
