<h1>Score Page</h1>

<form id="word-form" action="#" method="post">
  <fieldset>
    <legend>Please enter word or words here (separated by a space)</legend>
    <p>
      <label for="word"> Word(s):</label>
      <input type="text" name="word" id="word" placeholder="Ex) You used to call me on my cellphone">
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Score Words"
    </p>
  </fieldset>
</form>
