<h1>Score Page</h1>

<form id="word-form" action="#" method="post">
  <label for="word">Please enter word or words here (separated by a space):</label>
  <input type="text" name="word" id="word">
</form>
