<h1>Word Scores</h1>
<table class="table table-hover">
  <caption>How many points your word(s) score in Scrabble:</caption>
  <thead>
    <tr>
      <td>Word</td>
      <td>Score Breakdown</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <% @words.keys.each do |word| %>
      <tr>
        <td><%= word %></td>
        <td><%= @words[word][:word_breakdown] %></td>
        <td><%= @words[word][:score] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
